body{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(images/img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    height: 350px;
    width: 300px;
    border-radius: 15px;
    padding: 20px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(255, 255, 255, .2);
}

.brand-title{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
    color: white;
}

input{
    padding: 10px;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 15px;
    margin:auto;
    color: white;
    font-size: 15px;
    font-family: 'Times New Roman';
}

input::placeholder{
    color: white;
}

i{
    color:white
}

.checkbox{
    font-size: 13px;
    color: white;
}

.input-box input{
    width: 75%;
    margin-top: 10px;
    background-color: transparent;
    outline: none;

}

a{
    text-decoration: none;
    color: white;
}

.checkbox a{
    text-decoration: none;
    margin-left: 30px;
}

button{
    padding: 10px;
    width: 75%;
    border-radius: 30px;
    cursor: pointer;
    background-color: white;
    color: black;
    font-size: 20px;
    font-weight: bold;
    font-family: monospace;
}

.register{
    font-size: 13px;
    margin-top: 25px;
    color: white;
}
